<!-- Home index that contains the about statement -->

<div class="container">
<h1>About Mumbler</h1>
<h5>
We are a blog site that allows users to create posts and comment on them.
We are currently using materialize to style the site and it was created with Ruby on Rails.
Please enjoy what we have and hopefully later it will be improved.
</h5>
</div>
